<form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="title">Together, we can become globally connected</div>
    <small class="subtitle">Please enter your parameters below to login
        <a class="link" routerLink="/auth/register">or sign up</a>
    </small>
    <div class="form_field">
        <small>Username/Email*</small>
        <input formControlName="name" class="form_input field" type='text'>
    </div>
    <div class="form_field">
        <small>Password*</small>
        <input formControlName="name" class="form_input field" type='password'>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" mat-raised-button class="button">
        <span style="display: flex; align-items: center; justify-content: space-evenly;">
            <span>Login</span>
            <mat-spinner *ngIf="loading" class="white-spinner" color='primary' mode='indeterminate' diameter='18'
                strokeWidth='2'>
            </mat-spinner>
        </span>
    </button>

</form>