.container{
    height:100%;
    width:100%;
    background:orange;
    display:grid;
    grid-auto-flow: row;
    overflow-y: auto;
    grid-auto-rows: 50px;
}

.item{
    border:4px;
    height:100%;
    width:100%;
    background-color: white;
}