<div class="container">
        <div class="content">
            <!-- <ng-container *ngIf="(this.contacts$ | async) as contacts"> -->
                <div class="item" *ngFor="let contact of contacts">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <img [src]="contact.profile_photo" class="profile_photo">
                            </div>
                            <div class="flip-box-back">
                                <h1 class="name mat-h2 full-width"> {{contact.name}} </h1>
                                <span class="full-width light mat-body mat-body-1">
                                    {{contact.description | ellipsize: 100}}
                                </span>
                                <div class="space-evently">
                                    <span>{{contact.registrationTime| date:'shortDate'}} </span>
                                    <mat-icon>edit</mat-icon>
                                    <i class="far fa-heart"></i>
                                    <mat-icon>delete</mat-icon>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            <!-- </ng-container> -->
        </div>

</div>
