<div class="container">
    <div class="section">
        <div class="main_content">
            <h4 class="mat-display-4 title">Contactly</h4>
            <h3 class="title mat-h3 mat-subheading-2">
                Help us help you manager your contacts to the best of your abilities.
            </h3>
        </div>
        <div class="footer">
            <section>Copyright. 2016, CPoint company limited. All rights reserved.</section>
        </div>
    </div>

    <div class="content">
        <div class="main_content xs_only">
            <h4 class="mat-display-2 title">Contactly</h4>
            <h3 class="title mat-h1 mat-subheading-2">
                Help us help you manager your contacts to the best of your abilities.
            </h3>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>