<div class="container">
    <div class="contacts_row">
        <div class="space_between">
            <h3 class=".mat-h3, .mat-subheading-2 profile_name">Contacts</h3>
            <mat-button-toggle-group appearance="legacy" value='cards' name="fontStyle" aria-label="Font Style"
                #list_toggle="matButtonToggleGroup">
                <mat-button-toggle value="list">List</mat-button-toggle>
                <mat-button-toggle value="cards">Cards</mat-button-toggle>
                <!-- <mat-button-toggle value="another">{{list_toggle.value}}</mat-button-toggle> -->
            </mat-button-toggle-group>
        </div>
        <div class="form_wrapper">
            <button class="icon" mat-icon-button (click)="hide = !hide">
                <mat-icon>search</mat-icon>
            </button><link rel="import" href="component.html">
            <input class="input" placeholder="Looking for someone..." type='search'>
        </div>
        <hr class="divider" />
        <app-horizontal-list-contacts *ngIf="list_toggle.value !== 'cards'"></app-horizontal-list-contacts>
        <app-cards-list-contacts *ngIf="list_toggle.value === 'cards'"></app-cards-list-contacts>
    </div>
    <app-new-contact-form></app-new-contact-form>
</div>