/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar {
  padding: unset !important;
  background: transparent;
  border-radius: 5px;
  display: flex;
}

.white-spinner {
  color: white;
  & > * {
    color: white;
  }
}

.link{
  color:rgb(96, 96, 219);
  cursor: pointer;
}

.legend {
  display: grid;
  grid-gap: 24px;
  position: relative;
  // top:-30px;
  align-items: center;
  justify-content: flex-start;
  grid-auto-flow: column;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.indicator {
  width: 40px;
  height: 15px;
  display: inline-block;
  border-radius: 8px;
}
